* {
  /*border: 1px dashed;*/
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  float: right;
  height: 96%;
  width: 71%;
  padding: 2%
}

#button-tray {
  float: left;
  width: 21%;
  height: 96%;
  padding: 2%;
}

button {
  display: block;
  width: 100%;
}

